@font-face {
    font-family: oliver;
    src: url(../font/LexendGiga-Black.ttf);
}

html{
    font-size: 100%;
}

body {
    margin: 0;
    padding: 50px;
    font-family: oliver;
}
#wrapper {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 1px solid black;
    position: relative;
}
#wrapper p{
    font-size: 1.5rem;
}
#wrapper a{
    font-size: 3.5rem;
}
